.nav {
  background: rgb(56, 54, 54);
  padding: 20px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease, text-decoration 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
}

.link:hover {
  color: #ddd;
  text-decoration: underline;
}

/* Active link will be lightblue */
.link.active {
  color: lightblue;
}
